<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1>Welcome to our music app!</h1>
      <p>
        You have successfully signed up to pay us $999.99,
        your login is: <%= @user.email %>.<br/>
      </p>
      <p>
        To activate your account, just follow this link: <%= link_to "activation", @url %>.
      </p>
      <p>Thanks for joining and have a great day!</p>
    </body>
</html>